h1{
  color: white;
  text-align: center;
}
body{
  background-color: black;
  padding: 5%;
}
table{
  color: white;
  border-style: solid;
  border-radius: 1%;
  border-color: white;
}
img{
  height: 5em;
}
.rl{
  text-decoration: underline;
}